.form-gen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
}

.field {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gen-button {
  margin-top: 10px;
}
