.table-container {
  border: 1px solid black;
}

td {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
tr {
  border: 1px solid black;
}
.selected {
  background-color: aqua;
  border-color: brown;
}
